
h1{
	text-align: center;
}
form{
	margin:0 auto;
	padding: 1%;
	text-align: center;
}

.courses .mainDiv .holeInputDiv {
	width: 400px;
	padding: 0%;
	border: 3px solid #ddd;
	text-align: center;
	width:  90%;
	margin: 0 auto;
    margin-top: 0.5%;
}

.ResultatsDiv{
	text-align: center;
}

.courses .mainDiv .holeInputDiv Div{
	border-bottom: 4px solid #ddd;

}